bg-img {
  background-image: url("TheRanchPano1.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  height: 13rem;
  background-color: #0b6e50;
  text-align: center;
  padding-top: 3rem;
  /* font-size: 16pt; */
  color: white;
  /* font-family: "Open Sans"; */
}

h5 {
  padding-top: 1rem;
}

.email {
  font-size: 12pt;
  color: white;
  text-decoration: none;
  padding-bottom: 1rem;
}

a:hover {
  color: yellow;
}
/*
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 75px;
  width: 75px;
  outline: black;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30pt;
  color: gray;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30pt;
  color: gray;
} */
